<launch>
	<node pkg="server_pkg" name="server_connecter_node" type="server_connecter.py" output="log"></node>
	<node pkg="server_pkg" name="nest_charge_node" type="nest_charge.py" output="screen"></node>
	<node pkg="server_pkg" name="drone_mission_node" type="drone_mission.py" output="log"></node>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
  	</include>
</launch>
